# custom gitignores specific to project

/archive
/pictures
**/*.mat
**/*.zip

# Created by https://www.gitignore.io/api/linux,matlab
# Edit at https://www.gitignore.io/?templates=linux,matlab

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# End of https://www.gitignore.io/api/linux,matlab


*.fig

*.avi

datasets/

particle filter/lopen1.3parameter search
